﻿body
{
    background-color: White;
    font-size: 10pt;
    font-family: Verdana;
    margin: 4px;
    padding: 0;
}

table
{
    width: 100%;
    border: 1px solid silver;
}

table td
{
    border: 1px solid silver;
}

table th 
{
    text-align: left;
    color: White;
    height: 10px;
    background-color: #999999;
}

#MainContainer
{
    position: relative;
    overflow: auto;
    width: 625px;
    height: auto;
    max-height:500px;
    text-align: left;
    padding: 5px;
    border: 2px pink solid;
}

#InputTrigger 
{
    position: relative;
    text-align: right;
    width: 600px;
    height: 30px;
}

#HTMLContent 
{
    position: relative;
    width: 600px;
    height: auto;
    max-height:400px;
    overflow: auto;
    border: 1px blue solid;
}

#imgGetStudents 
{
    height: 25px;
    cursor: pointer;
    vertical-align: middle;
}